
.app{ 
    min-height: 100vh; 
}
.app-container {
  display: flex;
  width: 100%;
}

.app-container > .sidebar {
  margin-top : 50px;
  width: 18%; 
  min-height: 100vh;
  border-right: 2px solid #e5e7eb;
  background: #fff;
  transition: all 0.3s ease;
}
.main-content {
  margin-left: max(5vw, 25px);
  margin-top: 2rem;
  color: #4b5563; 
  font-size: 1rem; 
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .app-container > .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #e5e7eb;
  }

  .main-content {
    width: 100%;
    margin-left: 0;
  }
}
