@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    
    font-family: 'Outfit', sans-serif;
}

.active{
    background-color : #f8f8f8;
    color:  #fdc648;
}
