.cart-total-container {
  width: 100%;
}

.cart-total-title {
  font-size: 2rem; 
}

.cart-total-details {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  margin-top: 8px; 
  font-size: 0.875rem;
}

.cart-total-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-row b {
  font-weight: 700;
}
