.footer-container {
  margin-top: 5rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.footer-main {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

@media (min-width: 640px) {
  .footer-main {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
  }
}

.footer-logo {
  width: 8rem;
  margin-bottom: 1.25rem;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.footer-description {
  width: 100%;
}

.footer-company ul,
.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.footer-bottom {
  text-align: center;
  padding: 1.25rem 0;
  font-size: 0.875rem;
}
