
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prata&display=swap');
.title-container {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 12px;
  align-items: center;
}

.title-text1 {
  font-size: 25px;
  color: #6b7280; 
  font-family: 'Montserrat', sans-serif;
  
}

.title-text2 {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #374151; 
  font-weight: 500;
}

.title-line {
  width: 32px;
  height: 1px;
  background-color: #374151;
}

@media (min-width: 640px) {
  .title-line {
    width: 48px;
    height: 2px;
  }
}
