
.product-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
   margin-top:90px;
}

.product-top {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}


.product-images {
  display: flex;
  gap: 15px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ddd;
}

.thumbnail.active {
  border: 2px solid #facc15;
}

.main-image img {
  width: 500px;
  max-width: 100%;
  height: 600px;
  object-fit: contain;
  border: auto solid #ddd;
}


.product-details {
  flex: 1;
  min-width: 300px;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}

.star {
  width: 20px;
  height: 20px;
}

.reviews {
  margin-left: 5px;
  color: #555;
}

.price {
  font-size: 28px;
  font-weight: 600;
  margin: 15px 0;
}

.description {
  color: #666;
  margin-bottom: 20px;
}

.size-selector p {
  margin-bottom: 5px;
}

.sizes {
  display: flex;
  gap: 10px;
}

.size-btn {
  padding: 8px 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  background: #f3f3f3;
}

.size-btn.selected {
  border-color: #facc15;
}

.add-cart {
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.policies {
  margin-top: 20px;
  color: #555;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.product-tabs {
  margin-top: 40px;
}

.tabs-header {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tab {
  padding: 10px 20px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.tabs-content {
  border: 1px solid #ddd;
  padding: 20px;
  color: #555;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* responsive */
@media (max-width: 768px) {
  .product-top {
    flex-direction: column;
  }

  .product-images {
    flex-direction: row;
  }

  .thumbnails {
    flex-direction: column;
    overflow-x: auto;
  }

  .thumbnail {
    width: 150px;
    height: 100px;
  }

  .main-image img {
    width: 100%;
    height: 90%;
  }
}
